<div  class="   py-5 parent">
    <div class="text-center">
        <p class="mainColor">HELLO!</p>
        <h2>
            I'm <span class="mainColor">Mohammed Hassan</span> <br>
            <span class="mainColor"> A Front End</span> Developer
        </h2>
        <div class="d-flex justify-content-center">
          
                <a target="_blank" class="button text-white"
                    href="https://drive.google.com/file/d/1EnRH3i2ANg_Un1VinNkLGnOKFK6OGeOx/view?usp=sharing">
                    DOWNLOAD MY CV <i class="fas fa-download ml-2"></i>
                </a>
        </div>
    </div>
</div>